{% extends 'layout.html' %}

{% block title %}
    Página Inicial
{% endblock %}

{% block conteudo %}
<div class="conteudo" id="saudacao">
    <h1 class="ola" >Olá {{user}}!</h1>
    <p class="ola" id="oi">Aqui, você encontrará um mundo de conhecimento e imaginação esperando por você. Nossa biblioteca é um espaço acolhedor, onde o amor pelos livros e a sede de aprendizado são sempre celebrados.</p>
    <p class="ola" id="oi">Sinta-se em casa!</p>

    <p class="ola" id="oi">Aventure-se em nosso sistema!</p>
</div>
{% endblock %}